{% extends "base.html" %}

{% block content %}

    <div class="area-title row">
        <div class="col-md-2">
        <h2>Respostas</h2>
        </div>
    </div>

    <div class="person">
        <div class="container container-md-height">
            <div class="row row-md-height">
                <div class="col-md-4 col-md-height col-middle person-1 centered col-top">
                    <h1 class="person-box-name">Aécio Neves</h1>
                </div>
                <div class="col-md-4 col-md-height person-2 centered col-top">
                    <div class="person-photo">
                        <img src="/static/img/aecio-02.png">
                    </div>
                </div>
                <div class="col-md-4 col-md-height person-3 col-middle">
                    <ul class="person-data">
                       <li> Candidato a <b>PRESIDÊNCIA</b></li>
                       <li> Partido <b>PSDB</b></li>
                       <li>
                            Aécio Neves da Cunha (Belo Horizonte, 10 de março de 1960) é um economista e político brasileiro, filiado ao Partido da Social Democracia Brasileira (PSDB). Foi o décimo sétimo governador de Minas Gerais entre 1º de janeiro de 2003 a 31 de março de 2010, sendo senador pelo mesmo estado. Aécio é o candidato de seu partido à presidência do Brasil na eleição de 2014.
                       </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="area-title row">
        <div class="col-md-2">
        <h2>Respostas</h2>
        </div>
    </div>

    <div class="person-answers">
        <div class="container container-md-height">
            <div class="row row-md-height">
                <div class="col-md-4 col-md-height person-answer person-answer-1 centered col-top">
                    <div class="person-answer-text">
                        <h2>Privacidade de dados</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-height person-answer person-answer-2 centered col-top">
                    <div class="person-answer-text">
                        <h2>Transparência governamental</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-height person-answer person-answer-3 centered col-top">
                    <div class="person-answer-text">
                        <h2>Liberdade de expressão</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

