{% extends "question_base.html" %}

{% block title %}Bem vindo a plataforma Dialogando{% endblock %}

{% block main %}
<div class="row-fluid">
    <div class="question_header span10">
        <h1>{{ 'Caro Candidato' if person.sex[0] == 'M' else 'Cara Candidata' }}  a {{person.candidature}} pelo {{person.party}} </h1>
        <br>
<br>
{{ 'Senhor' if person.sex[0] == 'M' else 'Senhora' }} <b>{{person.name}}</b>,

<br>
Obrigado por entrar em nossa plataforma, onde você poderá divulgar suas idéias, 
propostas e realizações. Clicando no seguinte endereço:
<br><br><br>

<div class="start-button">
<a class="question_button" href="http://dialogando.org/responder/1?u={{ person_slug}}">http://dialogando.org/responder/1?u={{ person_slug}}</a>
</div>

<br><br>


você encontrará 3 questões a respeito dos seguintes temas: <b><i>liberdade de expressão</b></i>, <b><i>privacidade de dados</b></i> 
e <b><i>transparência governamental</b></i>. A qualquer momento, clicando no link recebido por 
email, poderá revisar suas contribuições. 

<br>
<br>
Nesse momento, a plataforma está disponível para candidatos a deputado estadual em 
São Paulo, a deputado federal por São Paulo, a senador e suplentes por São Paulo, a 
governador e vice de São Paulo e a presidente e vice do Brasil. Tendo qualquer dúvida, 
escreva para <a href="mailto:dialogando@okfn.org.br">dialogando@okfn.org.br</a>. Estamos muito felizes com sua contribuição, e 
aproveitamos para lhe desejar uma excelente campanha!

<br><br>
Heloisa Pait
<br>
Professora de Sociologia da UNESP

<br>
</div>
    </div>

{% endblock %}

