{% extends "question_base.html" %}

{% block title %}Pergunta{% endblock %}

{% block main %}
<div class="row-fluid">
    <div class="question_header span10">
        <h1>Obrigado</h1>
        Caro candidato,
        <br/>
        Em nome da <a href="http://br.okfn.org">Open Knowledge Brasil</a> e da <a href="http://www.unesp.br/">Unesp</a>, gostaríamos de agradecer
        imensamente por sua contribuição para o debate nacional sobre liberdade de expressão
        no Brasil, transparência governamental e privacidade na internet. A qualquer momento, 
        você poderá complementar suas respostas, usando o mesmo <a href="{{ first_question_url }}">link</a> que recebeu por email. 
        Tendo alguma dúvida, escreva para <a href="mailto:dialogando@okfn.org.br">dialogando@okfn.org.br</a>. Sinta-se à vontade para 
        divulgar a plataforma entre seus eleitores e também entre outros candidatos. Em breve, 
        divulgaremos as respostas para o público.
        Desejamos a você e à sua equipe uma excelente campanha, em busca de um Brasil justo 
        e democrático, que é o objetivo de todos nós!

        <br/>
        <br/>
        Heloisa Pait
    </div>
</div>

{% endblock %}

