{% extends "base.html" %}

{% block content %}

    <div class="area-title row">
        <div class="col-md-2">
        <h2>Temas</h2>
        </div>
    </div>

    <div class="themes">
        <div class="container container-md-height">
            <div class="row row-md-height">
                <div class="col-md-4 col-md-height theme-1 centered col-top">
                    <h1>Privacidade de dados</h1>
                    <div class="img-logo">
                        <img src="/static/img/priv.png">
                    </div>
                </div>
                <div class="col-md-4 col-md-height theme-2 centered col-top">
                    <h1>Transparência governamental</h1>
                    <div class="img-logo">
                        <img src="/static/img/glass.png">
                    </div>
                </div>
                <div class="col-md-4 col-md-height theme-3 centered col-top">
                    <h1>Liberdade de expressão</h1>
                    <div class="img-logo">
                        <img src="/static/img/think-talk.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="area-title row">
        <div class="col-md-2">
        <h2>Últimas respostas</h2>
        </div>
    </div>

    <div class="answers">
        <div class="container container-md-height">
            <div class="row row-md-height">
                <div class="col-md-4 col-md-height answer answer-1 centered col-top">
                    <div class="answer-text">
                        A plataforma Dialogando vai oferecer um espaço para que candidatos nas eleições de 2014 no Brasil possam divulgar aos eleitores suas contribuições e propostas para essas questões, criando condições para um diálogo produtivo e democrático! 
                    </div>
                    <div class="answer-person">
                        <div class="person-photo">
                            <img src="/static/img/balao-ponta.png">
                            <br/>
                            <img class="photo" src="/static/img/aecio-01.png">
                        </div>
                        <div class="person-name">
                            <h1>Áecio Neves</h1>
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div>
                </div>
                <div class="col-md-4 col-md-height answer answer-2 centered col-top">
                    <div class="answer-text">
                        A plataforma Dialogando vai oferecer um espaço para que candidatos nas eleições de 2014 no Brasil possam divulgar aos eleitores suas contribuições e propostas para essas questões, criando condições para um diálogo produtivo e democrático! 
                    </div>
                    <div class="answer-person">
                        <div class="person-photo">
                            <img src="/static/img/balao-ponta.png">
                            <br/>
                            <img class="photo" src="/static/img/eduardo-01.png">
                        </div>
                        <div class="person-name">
                            <h1>Eduardo Campos</h1>
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div>

                </div>
                <div class="col-md-4 col-md-height answer answer-3 centered col-top">
                    <div class="answer-text">
                        A plataforma Dialogando vai oferecer um espaço para que candidatos nas eleições de 2014 no Brasil possam divulgar aos eleitores suas contribuições e propostas para essas questões, criando condições para um diálogo produtivo e democrático! 
                    </div>
                    <div class="answer-person">
                        <div class="person-photo">
                            <img src="/static/img/balao-ponta.png">
                            <br/>
                            <img class="photo" src="/static/img/dilma-01.png">
                        </div>
                        <div class="person-name">
                            <h1>Dilma Roussef</h1>
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

