<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dialogando</title>

    <!-- Favicon -->
    <link rel="shortcut icon"  href="/static/img/dial-favicon.ico" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/soon.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="jumbotron header">
        <div class="row row-md-height">
            <div class="col-md-6 col-md-height col-middle">
            <img src="/static/img/logo-soon.png">
            </div>
            <div class="header-text col-md-4 col-md-height col-middle">
            <p/>
            Como garantir que os brasileiros possam manter a <b>privacidade na era da internet</b>?
            <p/>
            Que desafios enfrenta hoje a <b>liberdade de expressão</b>?
            <p/>
            Como usar as novas tecnologias para aumentar a <b>transparência governamental</b>?
            </div>
        </div>
    </div>
    <div class="jumbotron main">
        <div class="row row-md-height">
            <div class="col-md-3 col-md-height col-middle">
                A plataforma Dialogando vai oferecer um espaço para que candidatos nas eleições de
                2014 no Brasil possam divulgar aos eleitores suas contribuições e propostas para essas
                questões, criando condições para um diálogo produtivo e democrático!
                <br/>
                <div class="img-logo">
                    <img src="/static/img/think-talk.png">
                </div>
            </div>
            <div class="col-md-3 col-md-height col-middle">
                Assim que as listas de candidatos do TSE forem divulgadas, enviaremos emails aos
                candidatos com um link para essa plataforma, onde eles poderão expor suas visões
                sobre privacidade na internet, transparência governamental e liberdade de expressão. E
                quando a campanha esquentar, suas posições estarão aqui.
            </div>
            <div class="col-md-3 col-md-height col-middle">
                <div class="img-logo">
                    <img src="/static/img/glass.png">
                </div>
                <br/>
                Para eles, será um espaço para apresentar propostas e ações. Para os eleitores, um
                modo de entender como se posicionam os homens e mulheres que querem governar o
                país quanto a algo que faz parte da vida de milhões de brasileiros: a vida que navega na
                internet.
            </div>
        </div>
    </div>
    <div class="jumbotron wait">
        <div class="row row-md-height">
            <div class="col-md-1 col-md-height col-middle">
                Aguarde!
            </div>
        </div>
    </div>
    <div class="jumbotron footer">
        <div class="row row-md-height">
            <div class="col-md-4 col-md-height col-top">
                A plataforma Dialogando tem o apoio da campanha <a href="https://webwewant.org/">Web We Want</a> da
                <a href="http://webfoundation.org/">World Wide Web Foundation</a>, organização criada por Tim Berners-Lee em defesa de uma internet livre
                e aberta, e está sendo realizado pela <a href="http://br.okfn.org/">Rede pelo Conhecimento Livre</a>, organização
                não-governamental que defende a disseminação do conhecimento em todas as suas formas.
            </div>
            <div class="col-md-4 col-md-height col-top">
                <a href="http://www.marilia.unesp.br/#!/helopait">Heloisa Pait</a>, professora de sociologia da comunicação da UNESP, coordena o projeto,
                que tem colaboração conceitual de Ruan Sales e técnica de <a href="https://github.com/aivuk">Edgar Zanella</a>. Para maiores
                informações, por favor escreva para dialogando@okfn.org.br.
            </div>

        </div>
    </div>
    <div class="jumbotron attribution">
        <div class="centered">
                Um projeto da <a href="http://br.okfn.org/">Open Knowledge Brasil </a> 2014 - Todo conteúdo desse site é licenciado sob uma <a href="http://creativecommons.org/licenses/by/3.0/br">Licença Creative Commons Atribuição 3.0 </a> 
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
